<% layout("/layouts/boilerplate") -%>
<body>

    <div class="row ">
      
        <div class="col-8 offset-2 mt-3">
          <div class="back-icon mt-2 mb-3"><a href="https://airbnb-suhail-project.onrender.com/listings"><i class="fa-solid fa-chevron-left"></i></a></div>
    <h1>Edit the listing</h1>
    <form method="Post" action="/listings/<%=detail._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" value="<%=detail.title%>" name="listing[title]" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div>

              <div class="invalid-feedback">
                Please Enter a Title.
              </div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea name="listing[description]" cols="30" rows="10" class="form-control" required><%=detail.description%></textarea>
            <div class="invalid-feedback">
                Please Enter a description.
              </div>
        </div>
    

        <div class="mb-3">
          Original listing image <br/>
         <div class="imgUrl"> <img src="<%=originalImageUrl%>"></div>
        </div>


        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" name="listing[image]" class="form-control"   >
            <div class="invalid-feedback">
                Please Enter valid image url.
              </div>
        </div>
     
      <div class="mb-3">
        <label for="price" class="form-label">price</label>
        <input type="number" value="<%=detail.price%>" name="listing[price]" class="form-control" required>
        <div class="invalid-feedback">
            Please Enter a valid price.
          </div>
      </div>
       
        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input type="text" value="<%=detail.country%>" name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">
                Please Enter country.
              </div>
          </div>
     
       <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input type="text" value="<%=detail.location%>" name="listing[location]" class="form-control" required>
        <div class="invalid-feedback">
            Please Enter location.
          </div>
       </div>

        <button class="btn btn-dark  mb-3">Edit</button>
    </form>
</div>
</div>

</body>